# youtube-dl
sudo curl -L https://yt-dl.org/latest/youtube-dl -o /usr/local/bin/youtube-dl
sudo chmod a+rx /usr/local/bin/youtube-dl

# For vim-instant-markdown
sudo npm -g install instant-markdown-d

# for node.js -- needed for vim-instant-markdown
 curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.0/install.sh | bash
 nvm install 5.0
 nvm use 5.0
 nvm alias default node

# Youtube player
curl -L http://flavio.tordini.org/files/minitube/minitube64.deb -o mini.deb
sudo gdebi mini.deb
rm -rf mini.deb

# for gimli:
sudo gem install gimli
