# youtube-dl
sudo curl -L https://yt-dl.org/latest/youtube-dl -o /usr/local/bin/youtube-dl
sudo chmod a+rx /usr/local/bin/youtube-dl

# For vim-instant-markdown
sudo npm -g install instant-markdown-d

# for node.js -- needed for vim-instant-markdown
curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.0/install.sh | bash
nvm install 5.0
nvm use 5.0
nvm alias default node

# for gimli:
sudo gem install gimli

## Spotify
# 1. Add the Spotify repository signing key to be able to verify downloaded packages
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys BBEBDCB318AD50EC6865090613B00F1FD2C19886
# 2. Add the Spotify repository
echo deb http://repository.spotify.com stable non-free | sudo tee /etc/apt/sources.list.d/spotify.list
# 3. Update list of available packages
sudo apt-get update
# 4. Install Spotify
sudo apt-get install spotify-client


# Redshift - Automatically removes blue light from screen based on sun position
curl -L https://github.com/maoserr/redshiftgui/releases/download/0.2.4-Arch64/RedshiftGUI-0.2.4-Linux-x86_64-Fixed.deb -o redshift.deb
sudo gdebi --n redshift.deb
rm -rf redshift.deb

# Program that can find duplicate image files. MAY NEED TO INSTALL GO
go get github.com/opennota/findimagedupes

# xml parser for node js
npm install xml2js
