[user]
	name = "Steven Hall"
	email = Hallzy.18@gmail.com
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
  stat = status
	unstage = reset HEAD --
	graphlog = log --decorate --graph
	graphlogall = log --decorate --graph --all
  discard = checkout --
