[user]
  name = "Steven Hall"
  email = Hallzy.18@gmail.com
[core]
  editor = vim
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
  conflictstyle = diff3
[difftool]
  prompt = false
[mergetool]
  prompt = false
  keepBackup = false
[alias]
  b = branch
  co = checkout
  ssh = "!git_to_ssh.sh"
  pop = stash pop
  br = branch
  ci = commit -v
  st = status
  stat = status
  unstage = reset HEAD --
  graphlog = log --decorate --graph
  graphlogall = log --decorate --graph --all
  discard = checkout --
  amend = commit -a --amend

  cleaner = clean -i

  enforce-gitignore = !git rm -rf --cached . &&  git add .

  update-master-from-upstream = "!f() { \
      default=\"master-upstream\" \
      master_up=${1:-$default}; \
      current_branch=$(git rev-parse --symbolic-full-name --abbrev-ref HEAD); \
      git checkout ${master_up}; \
      git pull; \
      git checkout master; \
      git rebase ${master_up}; \
      git push; \
      git checkout ${current_branch}; \
    }; \
    f"

  # Show log as oneliner
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short
  lsgraphall = !git ls --decorate --graph --all

  # Same as ls but the lines after the commit show the files that are changed
  # and how many additions and deletions there were
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --numstat
  llgraphall = !git ll --decorate --graph --all

  # Reflog the way I like to see it
  rl = reflog --format='%C(yellow)%h %<|(17)%gd %C(green)%ci%C(reset) %s'

  # Prints out all my git aliases
  la = "!git config -l | grep alias | cut -c 7-"

  # Shows the log of only the commits affected by the last command in ll or ls format
  # eg, executing after a git pull will show you the commits that were pulled
  newll = !sh -c 'git ll $1@{1}..$1@{0} "$@"'
  newls = !sh -c 'git ls $1@{1}..$1@{0} "$@"'
  newlog = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  new = !git newls

  newdifftool = !git difftool $1@{1}..$1@{0}

  # Removes a file from version control, but does not remove the file itself
  # eg. git rmvc file
  rmvc = rm --cached

  # Creates a remote branch of the same name of the current checked out branch
  # and sets up tracking with that branch
  track = "!f() { \
              remote=${1:-origin}; \
              branch=$(git rev-parse --symbolic-full-name --abbrev-ref HEAD); \
              branch=${2:-$branch}; \
              git branch -u $remote/$branch; \
            }; \
            f"

  create-remote-and-track = "!f() { \
                                remote=${1:-origin}; \
                                branch=$(git rev-parse --symbolic-full-name --abbrev-ref HEAD); \
                                branch=${2:-$branch}; \
                                git push -u $remote $branch; \
                              }; \
                              f"

  # Removes branches that are not being used anymore
  # eg. git rm-branch-auto-complete
  rm-branch-auto-complete = fetch --prune -v origin

  # Deletes a remote branch
  # eg. git delete-remote-branch issue#6
  delete-remote-branch = push origin --delete

  # Used when you want to remove all the uncommitted changes I have made. It
  # commits all these changes, and resets the working directory as if it was all
  # deleted. This means if need be, I can get that commit back with reflog
  # eg. git wipe
  wipe-all = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  wipe-modified = !git commit -aqm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

  # Deletes a tag locally and remotely.
  delete-tag = " \
    !f() {  \
      git push origin :refs/tags/$1; \
      git tag -d $1; \
    }; \
    f"

  # pulls changes from remote, removes remote-tracking branches that no longer
  # exist on remote
  up = !git pull -v --rebase --prune $@ && git submodule update --init --recursive

  # does a git difftool of a givem commit, or HEAD if none is specified
  showtool = "!showci () { \
                rev=${1:-HEAD}; \
                git difftool $rev~1 $rev; \
              }; \
              showci"
[push]
  default = matching
[rebase]
  autosquash = true
